body>header, body>footer{
    display: flex;
    flex-basis: 100%;
  flex-wrap: wrap;
justify-content: center;
background-color: #888888
}
input{
    border-radius: 1em;
    outline-style: none;
  font-size: large;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
    align-self: center;
}
nav{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    margin-bottom: 1em;
}
h1{
 padding: 0;
 margin: 0; 
 margin-top: 1em; 
}
body>header:nth-child(1){
    background-color: #888888;
    justify-content: space-evenly;
box-shadow: 0 0 1em 10px;
}
body>footer{
    background-color: #888888;
    justify-content: space-evenly;
}
body{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
body>header{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius:1em ;
}
a{
    color: black;
    text-decoration: none;

align-self: center;
}
div{
width: 0px;
border-width: 1px;
border-style: solid;
border-color: #4F746B;
height: 1em;
align-self: center;
order: 2;

}
article{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    order: 1;
}
article>section{
    flex-basis: 100%;
    display: flex;

   justify-content: center;
   padding: 1em;
   border-bottom: solid;
}
section>section{
    flex-basis: 80%;
}
figure{
    flex-basis:10%;

}
img{
    height: 100%;
    object-fit: scale-down;
    align-self: center;
    margin-left: 1%;
    width: 100%;
}
footer>a:nth-child(2){
    order:3;
}
body>footer{
    align-self: flex-end;
 border-top-left-radius: 1em;
 border-top-right-radius: 1em;
 box-shadow: 0 -7px 1em;

}

   body>main{display: flex;
    flex-wrap: wrap;
justify-content: space-evenly;
flex-basis: 100%;
margin-top: 1em;
}

footer>section{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    padding-top:1em;
}
section>a:nth-of-type(2){
    order: 3;
}

